appdirs==1.4.4
asgiref==3.7.2
backports.zoneinfo==0.2.1
Brotli==1.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==7.1.2
cloudscraper==1.2.71
dateparser==1.2.0
Django==3.2.25
django-cors-headers==4.1.0
django-extensions==3.2.3
django-environ
djangorestframework==3.15.1
djangorestframework-jsonapi==6.1.0
djangorestframework-simplejwt==5.3.0
elastic-transport==8.13.1
elasticsearch==8.14.0
exceptiongroup==1.2.2
idna==3.10
importlib-metadata==6.7.0
inflection==0.5.1
iniconfig==2.0.0
mutagen==1.47.0
packaging==24.0
pip==24.0
pixi==1.0.1
pixiv-api==0.3.7
pluggy==1.2.0
psycopg2-binary==2.9.9
pycryptodomex==3.22.0
PyJWT==2.8.0
pyparsing==3.1.4
pytest==7.4.4
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2024.4.16
requests==2.31.0
requests-toolbelt==1.0.0
setuptools==41.2.0
six==1.17.0
sqlparse==0.4.4
tomli==2.0.1
tqdm==4.67.1
typing_extensions==4.7.1
tzlocal==5.1
urllib3==2.0.7
websockets==11.0.3
zipp==3.15.0
